html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
a,
main,
section,
article,
div,
footer,
header,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

body {
  background-color: #ececed;
  min-height: 200vh;
}

.contenido {
  max-width: 1200px;
  margin: 0 auto;
  margin-left: 200px;
}

.separador-superior-lg {
  padding-top: 100px;
}
.menu-contenedor {
  background-color: #fff;
  width: 100%;
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;

  flex-direction: column;
}
.menu a {
  text-decoration: none;
  color: #f05351;
  transition: color 500ms;
}

.menu li:hover > a {
  color: #fff;
}

.menu li {
  padding: 20px 20px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 500ms;
  cursor: pointer;
}
.menu li:hover {
  background-color: cornflowerblue;
}

.cuadrados-contendedor {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.cuadrado {
  width: 500px;
  height: 500px;
  background-color: #f05351;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-bottom: 20px;
}
.footer {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.header-fijo {
  position: fixed;
  width: 200px;
  height: 100vh;
  background-color: #fff;
}
