* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #000;
}
body {
  min-height: 100vh;
  background-color: #ececec;
}
header {
  background-color: #000;
}
.menu {
  display: flex;
  justify-content: space-around;
}
.menu a {
  color: #ececec;
}
a {
  text-decoration: none;
}

nav {
  font-family: monospace;
}

ul {
  background: darkorange;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: #fff;
  background: darkorange;
  display: block;
  padding: 16px;
  text-decoration: none;
  transition-duration: 0.5s;
}

.submenu-container {
  position: relative;
}

li a {
  color: #fff;
}

li:hover {
  background: red;
  cursor: pointer;
}

.submenu {
  background: orange;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 16px;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}
